<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">

</head>
<body>
    @if (IsSectionDefined("MessageBox"))
    {
        @RenderSection("MessageBox",false)
    }
    else
    {
        <div class="alert alert-primary text-center m-0">
            Welcome!
        </div>
    }

    @await Html.PartialAsync("_navbar")
    @RenderSection("Header",false)
        <main cals="my-3">
        <div class="container-fluid">
            @if (IsSectionDefined("Categories"))
            {

                <div class="row">
                    <div class="col-md-3">

                        @RenderSection("Categories",false)
                    </div>


                    <div class="col-md-9">

                        @RenderBody()

                    </div>
                </div>
            }
            else


            {

                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            }
        </div>
        <footer class="py-5 bg-dark text-white text-center">
            Shop App | 2022
            
        </footer>

        </main>


        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
