@model ProductViewModel
@{
    var popularClass = Model.Products.Count > 2 ? "popular" : "";
    var product = Model.Products;
    var categoryName = Model.Categori.Name;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .popular {
            color: green;
            font-weight: 700;
        }
    </style>
</head>

<body>
    <header>
       <div class="jumbotron jumbotron-fluid"></div>
    </header>
    
        <main>

        </main>
    <h1 class="@popularClass">@categoryName</h1>
    <div>
        @if (product.Count == 0)
        {
            <p style="background-color: red;font-size: 35px;">Ürün Yok!</p>
        }
        else
        {
            <ul>
                @foreach (var item in product)
                {
                    @if (item.IsApproved == true)
                    {
                        <li>
                            <div>
                                <p>@item.Name</p>
                                <p>@item.Price</p>
                                <p>@item.Description</p>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li style="background-color:red">Ürün Satışta Değil</li>
                    }

                }
            </ul>
        }

    </div>



</body>
</html>